@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");
* {
  box-sizing: border-box;
}

html,
body {
  font-family: "Work Sans", sans-serif;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  /* height: 100%; */
  background: linear-gradient(
      to bottom right,
      rgba(72, 72, 212, 0),
      rgba(241, 104, 104, 0)
    ),
    url(./common/images/header-background.jpg) center center no-repeat;
  background-size: cover;
}

.main {
  margin-top: 66px;
  display: flex;
  min-height: 100vh;
}
