.preview-items {
  /* display: flex; */

  /* flex-direction: column; */
  display: grid;
  grid-template-columns: 50% 50%;
}

.preview-item {
  padding: 0.3rem;
}
.preview-item > span:nth-child(1) {
  font-weight: bold;
}

/* .preview-item:nth-child(2n + 0) {
  background-color: #c0c0c0;
}
.preview-item:nth-child(2n + 1) {
  background-color: #dddddd;
} */
.images {
  width: 60%;
  max-height: 40%;
}
@media only screen and (max-width: 600px) {
  .preview-items {
    grid-template-columns: 100%;
  }
}
