.header {
  color: white;
  margin-bottom: 70px;

  width: 100%;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  background-color: #392d9b;
}
.header-content {
  max-width: 1200px;
  margin: auto;
}

.brand-image {
  height: 40px;
}
.nav-link {
  color: white;
}
.navlist {
  margin: 0;
  list-style: none;
  padding: 0;
  display: flex;
}
a:hover {
  color: var(--theme-color);
}
